.principal{
display: flex;
flex-wrap: wrap;
align-items: center;
align-content: center;



}
div{
border: solid 1px black;

}
.rojo{
    background-color: rebeccapurple;
}
.verde{
color: green;

}
.azul{
    border: blue solid 1px;
}

