*{
box-sizing: border-box;
margin: 0;
padding: 0;
}

div{
    display: flex;
    flex-wrap: wrap;
    
    overflow: auto;
    justify-content: center;
    align-items: center;
}



.titulo{
    border: rgb(0, 0, 0) 4px solid;
    height:10vh;
    background-color: cornflowerblue;
}

.galeria{
    border: rgb(0, 0, 0) 4px solid;
}

.copyright{
    border: rgb(0, 0, 0) 4px solid;
}


